.login-container {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    background: linear-gradient(to right, #FAF3E0, #FFFFFF);
}

.login-form {
    width: 100%;
    max-width: 400px;
    margin: auto;
    padding: 20px;
}

.login-logo {
    width: 100%;
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: -70px;
}

.login-logo p {
    margin-bottom: 50px;
}

.login-image {
    width: 50%;
    height: 100vh;
    background-size: cover; /* Ensures the image covers the div */
    background-position: center; /* Centers the image */
    background-image: url('../assets/banner3.jpg');
}

.password-field {
    margin-bottom: 5px;
}

.login-form h2 {
    text-align: center;
    margin-bottom: 40px;
}