.login-container {
    display: flex;
    flex-direction: row;
}

.login-form {
    width: 100%;
    max-width: 500px;
    margin: auto;
    padding: 20px;
}

.login-image {
    width: 50%;
    height: 100vh;
    /*
    background-image: url('https://images.unsplash.com/photo-1506748686214-e9df14d4d9d0?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwzNjUyOXwwfDF8c2VhcmNofDJ8fGxvZ298ZW58MHx8fHwxNjg5NTY1NzA3&ixlib=rb-4.0.3&q=80&w=1080');
    */
    background-color: #131335;
}

.password-field {
    margin-bottom: 5px;
}

.login-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

body {
    overflow: hidden;
}