.login-container {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    background-color: #fafafa;
}

.login-form {
    width: 100%;
    max-width: 400px;
    margin: auto;
    padding: 20px;
}

.login-logo {
    width: 100%;
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.login-logo p {
    color: lightgray;
    font-size: 14px;

}

.login-logo h1 {
    margin-bottom: -10px;
    margin-top: 20px;
}

.login-image {
    width: 50%;
    height: 100vh;
}

.password-field {
    margin-bottom: 5px;
}

.login-form h2 {
    text-align: center;
    margin-bottom: 40px;
}

.custom-button:hover {
    background-color: #002F5C !important;
    border-color: #002F5C !important;
  }